In [1]:
#import all library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=sns.load_dataset('tips')

In [3]:
!pip install XGBoost

Requirement already satisfied: XGBoost in c:\users\mdans\miniconda3\envs\mymlvenv\lib\site-packages (3.0.4)
Requirement already satisfied: numpy in c:\users\mdans\miniconda3\envs\mymlvenv\lib\site-packages (from XGBoost) (2.3.1)
Requirement already satisfied: scipy in c:\users\mdans\miniconda3\envs\mymlvenv\lib\site-packages (from XGBoost) (1.16.0)

In [4]:
# import all model for regresion
from sklearn.linear_model import LinearRegression
#import random forest,knn,decision tree,svm,gradient boosting,xgboost
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error

In [6]:
#import gridsearchcv for hyperparameter tunning
from sklearn.model_selection import GridSearchCV

In [7]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [8]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [10]:
#selecr feature and target

X=df.drop('tip',axis=1)
y=df['tip']

In [11]:
#label encode all categorical data
le=LabelEncoder()
X['sex']=le.fit_transform(X['sex'])
X['smoker']=le.fit_transform(X['smoker'])
X['day']=le.fit_transform(X['day'])
X['time']=le.fit_transform(X['time'])
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [12]:
#train test split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [13]:
#create a dictionaries of all models
models={
    'LinearRegression':LinearRegression(),
    'RandomForestRegressor':RandomForestRegressor(),
    'KNeighborsRegressor':KNeighborsRegressor(),
    'DecisionTreeRegressor':DecisionTreeRegressor(),
    'SVR':SVR(),
    'GradientBoostingRegressor':GradientBoostingRegressor(),
    'XGBRegressor':XGBRegressor()
}

In [14]:
model_score=[]

In [15]:
for name,model in models.items():
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    metric = mean_absolute_error(y_test, y_pred)
    model_score.append((name, metric))
sorted_models=sorted(model_score,key=lambda x:x[1],reverse=True)

In [16]:
print(sorted_models)

[('DecisionTreeRegressor', 0.9195918367346939), ('RandomForestRegressor', 0.780465306122449), ('GradientBoostingRegressor', 0.7304239264198172), ('KNeighborsRegressor', 0.7262448979591837), ('XGBRegressor', 0.6721697168934103), ('LinearRegression', 0.6703807496461158), ('SVR', 0.5707097371316318)]

In [17]:
for model in sorted_models:
    print(model[0],model[1])

DecisionTreeRegressor 0.9195918367346939
RandomForestRegressor 0.780465306122449
GradientBoostingRegressor 0.7304239264198172
KNeighborsRegressor 0.7262448979591837
XGBRegressor 0.6721697168934103
LinearRegression 0.6703807496461158
SVR 0.5707097371316318

In [18]:
%%time
# split the data into train and test data with 80% training dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Create a dictionaries of list of models to evaluate performance
models = { 
          'LinearRegression' : LinearRegression(),
          'SVR' : SVR(),
          'DecisionTreeRegressor' : DecisionTreeRegressor(),
          'RandomForestRegressor' : RandomForestRegressor(),
          'KNeighborsRegressor' : KNeighborsRegressor(),
          'GradientBoostingRegressor' : GradientBoostingRegressor(),
          'XGBRegressor' : XGBRegressor()          
          }

# train and predict each model with evaluation metrics as well making a for loop to iterate over the models

model_scores = []
for name, model in models.items():
    # fit each model from models on training data
    model.fit(X_train, y_train)
    
    # make prediction from each model
    y_pred = model.predict(X_test)
    metric = r2_score(y_test, y_pred)
    model_scores.append((name, metric))
    
    # # print the performing metric
    # print(name, 'MSE: ', mean_squared_error(y_test, y_pred))
    # print(name, 'R2: ', r2_score(y_test, y_pred))
    # print(name, 'MAE: ', mean_absolute_error(y_test, y_pred))
    # print('\n')
# selecting the best model from all above models with evaluation metrics sorting method
sorted_models = sorted(model_scores, key=lambda x: x[1], reverse=True)
for model in sorted_models:
    print('R_squared Score', f"{model[0]} is {model[1]: .2f}")

R_squared Score SVR is  0.57
R_squared Score LinearRegression is  0.44
R_squared Score XGBRegressor is  0.41
R_squared Score GradientBoostingRegressor is  0.34
R_squared Score KNeighborsRegressor is  0.33
R_squared Score RandomForestRegressor is  0.24
R_squared Score DecisionTreeRegressor is -0.17
CPU times: total: 891 ms
Wall time: 256 ms

with diamond dataset

In [19]:
df_diamond=sns.load_dataset('diamonds')

In [20]:
df_diamond.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [21]:
df_diamond.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [22]:
# selecr feature and target
X=df_diamond.drop('price',axis=1)
y=df_diamond['price']

In [23]:
# label encode categorical data
le=LabelEncoder()
X['cut']=le.fit_transform(X['cut'])
X['color']=le.fit_transform(X['color'])
X['clarity']=le.fit_transform(X['clarity'])

In [24]:
#create a dictionaries of all models
models={
    'LinearRegression':LinearRegression(),
    'RandomForestRegressor':RandomForestRegressor(),
    'KNeighborsRegressor':KNeighborsRegressor(),
    'DecisionTreeRegressor':DecisionTreeRegressor(),
    'SVR':SVR(),
    'GradientBoostingRegressor':GradientBoostingRegressor(),
    'XGBRegressor':XGBRegressor()
}

In [25]:
#train test split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [26]:


model_scores2 = []
for name, model in models.items():
    # fit each model from models on training data
    model.fit(X_train, y_train)
    
    # make prediction from each model
    y_pred = model.predict(X_test)
    metric = mean_absolute_error(y_test, y_pred)
    model_scores.append((name, metric))

In [27]:
# selecting the best model from all above models with evaluation metrics sorting method
sorted_models = sorted(model_scores, key=lambda x: x[1], reverse=False)
for model in sorted_models:
    print('Mean Absolute error for', f"{model[0]} is {model[1]: .2f}")

Mean Absolute error for DecisionTreeRegressor is -0.17
Mean Absolute error for RandomForestRegressor is  0.24
Mean Absolute error for KNeighborsRegressor is  0.33
Mean Absolute error for GradientBoostingRegressor is  0.34
Mean Absolute error for XGBRegressor is  0.41
Mean Absolute error for LinearRegression is  0.44
Mean Absolute error for SVR is  0.57
Mean Absolute error for RandomForestRegressor is  268.31
Mean Absolute error for XGBRegressor is  277.94
Mean Absolute error for DecisionTreeRegressor is  354.50
Mean Absolute error for GradientBoostingRegressor is  364.86
Mean Absolute error for KNeighborsRegressor is  480.77
Mean Absolute error for LinearRegression is  858.71
Mean Absolute error for SVR is  2747.33